.banner .img{display: inline-block;width:201px;height: 136px}
.askHeader>span{text-align: center;min-width: 100px;color: #999;box-sizing: border-box;padding: 5px 10px;display: inline-block;margin: 9px;border-radius: 8px;background-color: #F4F4F4;}
.askHeader>span.active{background-color: #48B3E2;color: #fff;}
.askBtn{
	color: #48b3e2;
	line-height: 30px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.5);
	border: 1px solid #ddd;
	border-radius: 30px;
	position: fixed;
	left: 50%;
	width: 100px;
	bottom: 10px;
	background: #fff;
	text-align: center;
	margin-left: -50px;
	z-index: 20;
}