.banner img{width: 100%}
/*s:ç»å…¸é¡µé¢åˆ—è¡¨*/
.case-list{
	margin: 20px 0;
	padding: 5px 0 30px 110px;
	border-bottom: 1px solid #e1e1e1;
	position:relative;
}
.case-list .info>div{
	font-size: 14px;
	color:#999;
}
.case-list .img img{
	height: 100%;
	width:100%;
}
/*e:ç»å…¸é¡µé¢åˆ—è¡¨*/
.case-list .img{
	position: absolute;
	left: 0;
	top: 4px;
	overflow: hidden;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.case-list .feedback em{
	color: #ff6e72;
	padding-left: 10px;
}
.noticeContent-exp.open .icon-chevron-down{
	transform: rotate(-0deg);
}
.case-list .tel{
	position: absolute;
	top: 100%;
	right: 20px;
}
.case-list .tel .ico{
   /* width:16px; */
   transform: scale(1);
   /* height:16px; */
}
.case-list .tel .icon_b_wenda{
	/* background-position: 0 -735px; */
	margin-right: 20px;
}
.case-list .tel .icon_tel{
	/* background-position: 0 -1090px; */
	margin-left: 20px;
	/* top: 6px; */
	position: relative;
}
