
/*é‡æž„css*/

[v-cloak]{
	display:none;
}
a.a-wrap{
	display: block;
}
.ui-slider-content
{
	width: 100%;
}

/*æµ®åŠ¨å¸ƒå±€ å®½åº¦*/


/*å“åº”å¸ƒå±€ å®½åº¦*/

/*è¾¹æ¡†*/



.vm {
	vertical-align: middle;
}



/*
æ–‡å­—ç²—ç»†
*/

.fb {
	font-weight: 700
}

.fm {
	font-weight: 400
}

/*
æ–‡å­—ç¼©è¿›
*/


/*
æµ®åŠ¨
*/


/*å±…ä¸­*/

.ct {
	margin-right: auto;
	margin-left: auto;
}

.ct-img {
	vertical-align: middle;
	display: table-cell;
}


/*
*æ˜¾ç¤ºå—æ–¹å¼
*/
.inline-block {
	display: inline-block;
}
.box{
	display: box;
	display: -webkit-box;
	display: -moz-box;
}


.block{
	display: block;
}
.show {
	display: inherit;
}
.none {
	display: none;
}
.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}
.relative {
	position: relative;
}
.abs {
	position: absolute;
}




.abs-auto {
	position: absolute;
	left: auto;
	top: auto;
}
.abs-right{
	position: absolute;
	left: auto;
	top: 0px;
}
.abs-bottom{
	position: absolute;
	left: 0px;
	top: auto;
}
.scroll {
	overflow: scroll;
}

.scroll-y {
	overflow-y: scroll;
}

.visible {
	overflow: visible;
}

.hidden {
	overflow: hidden;
}

/*
 filter:alpha(opacity=50);
 ie

 opacity
 Chrome   Firefox (Gecko)   Internet Explorer   Opera   Safari (WebKit)
 1.0    1.0 (1.7 or earlier)    9.0             9.0        1.2 
 */

.op0 {
	opacity: 0;
	*filter: alpha(opacity=0); /*ie8 ie7*/
}

.op1 {
	opacity: .1;
	*filter: alpha(opacity=10); /*ie8 ie7*/
}

.op2 {
	opacity: .2;
	*filter: alpha(opacity=20); /*ie8 ie7*/
}

.op3 {
	opacity: .3;
	*filter: alpha(opacity=30); /*ie8 ie7*/
}

.op4 {
	opacity: .4;
	*filter: alpha(opacity=40); /*ie8 ie7*/
}

.op5 {
	opacity: .5;
	*filter: alpha(opacity=50); /*ie8 ie7*/
}

.op6 {
	opacity: .6;
	*filter: alpha(opacity=60); /*ie8 ie7*/
}

.op7 {
	opacity: .7;
	*filter: alpha(opacity=70); /*ie8 ie7*/
}

.op8 {
	opacity: .8;
	*filter: alpha(opacity=80); /*ie8 ie7*/
}

.op9 {
	opacity: .9;
	*filter: alpha(opacity=90); /*ie8 ie7*/
}

.op10 {
	opacity: 1;
	*filter: alpha(opacity=100); /*ie8 ie7*/
}

.shadow-2 {
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
}

.shadow-5 {
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.shadow-10 {
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.shadow-left-bottom {
	-moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
	-webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
	box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
}

.shadow-bottom {
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

.shadow-right-bottom {
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

/*text-shadow: h-shadow v-shadow blur color;*/
/*æ°´å¹³é˜´å½±çš„ä½ç½®(å¿…éœ€) åž‚ç›´é˜´å½±çš„ä½ç½®(å¿…éœ€) æ¨¡ç³Šçš„è·ç¦»(å¯é€‰) é˜´å½±çš„é¢œè‰²(å¯é€‰)*/
/*Chrome(2.0.158.0 +)  Firefox (Gecko)(3.5 (1.9.1)+) Internet Explorer(10+)   Opera(9.5 +)   Safari (WebKit)(1.1 (100)+)*/

.t-shadow-2 {
	text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

.t-shadow-5 {
	text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.t-shadow-10 {
	text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.t-vintage-retro {
	text-transform: uppercase;
	color: #707070;
	text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;
}

.t-neon {
	text-transform: uppercase;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de
}

.t-inset {
	text-transform: uppercase;
	color: #222;
	text-shadow: 0px 2px 3px #fff;
}

.t-fire {
	color: #fff;
	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

.z0 {
	z-index: 0;
}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.z3 {
	z-index: 3;
}

.z4 {
	z-index: 4;
}

.animate-ease{
	-webkit-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

