@charset "UTF-8";
.ico{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-image: url("../../images/sprite.svg");
	transform: scale(1.5);
	background-size: 32px 1460px;
}
.ico.icon_b_huanjing, .ico.icon_huanjing {
}

.ico.icon_agent {
	background-position: 0 0
}

.ico.icon_chengjiao {
	background-position: 0 -42px
}

.ico.icon_ditie {
	background-position: 0 -84px
}

.ico.icon_ershoufang {
	background-position: 0 -122px;
}

.ico.icon_maifang {
	background-position: 0 -168px
}

.ico.icon_wiki {
	background-position: 0 -206px;
}

.ico.icon_xinfang {
	background-position: 0 -246px;
}

.ico.icon_xuequfang {
	background-position: 0 -287px;
}

.ico.icon_wenda {
	background-position: 0 -328px;
}

.ico.icon_zufang {
	background-position: 0 -378px
}

.ico.icon_haiwai {
	background-position: 0 -420px
}

.ico.icon_zhinan {
	background-position: 0 -656px;
}

.ico.icon_gujia {
	background-position: 0 -714px
}
.ico.icon_b_wenda {
	background-position: 0 -739px;
}

.ico.icon_b_baike {
	background-position: 0 -798px
}

.ico.icon_b_lanmu {
	background-position: 0 -840px
}

.ico.icon_b_fangjia {
	background-position: 0 -882px
}

.ico.icon_b_gujia {
	background-position: 0 -924px
}

.ico.icon_b_xiaoqu {
	background-position: 0 -966px
}

.ico.icon_b_jingjiren {
	background-position: 0 -1008px
}

.ico.icon_b_shuifei {
	background-position: 0 -1050px
}

.ico.icon_b_daikuan {
	background-position: 0 -1092px
}

.ico.icon_b_kefu {
	background-position: 0 -1134px
}

.ico.icon_xiaoqu {
	background-position: 0 -1176px
}

.ico.icon_app {
	background-position: 0 -1191px;
}

.ico.icon_linshen {
	background-position: 0 -1233px;
}

.ico.icon_goufang {
	background-position: 0 -1302px
}

.ico.icon_b_shoufu {
	background-position: 0 -1344px
}

.ico.icon_b_lanrenzhaofang {
	background-position: 0 -1386px
}
.ico.icon_tel {
	background-position: 0 -1434px;
}

.bg-icon{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/icon.png");
	vertical-align: middle;
	width:20px;
	height: 10px;
}
.bg-icon.icon-down{
	background-position: -786px 0px;

}
.bg-icon.icon-search{
	background-position: -427px 3px;
	width: 40px;
	height: 40px;
}
.bg-icon.icon-user{
	background-position: -492px 0px;
	height: 24px;
}
.bg-icon.icon-back{
	background-position: -524px 0px;
	height: 24px;
}
.bg-icon.icon-home{
	background-position: -590px 0px;
	height: 24px;
	width: 28px;
}
::-webkit-input-placeholder{color:#999;font-size: 16px;}    /* 使用webkit内核的浏览器 */
:-moz-placeholder{color:#999;font-size: 16px;}                  /* Firefox版本4-18 */
::-moz-placeholder{color:#999;font-size: 16px;}                  /* Firefox版本19+ */
:-ms-input-placeholder{color:#999;font-size: 16px;}



.nlb {
	font-size: 13.6px;
	padding: 3px 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 2px;
}

.nlb-1 {
	background-color: #e1ecff;
	color: #5f9bff
}

.nlb-2 {
	background-color: #e7f8ff;
	color: #5fc3d7
}

.nlb-3 {
	background-color: #fff0f0;
	color: #eb8686
}

.nlb-4 {
	background-color: #e4ffed;
	color: #64bb79
}
.lb-area {
	position: relative;
	vertical-align: middle;
	top: -5px;
}

.lb-area .lb {
	float: left;
	margin: 4px 8px 0 0;
	line-height: 1.5;
	padding: 0 10px;
	box-sizing: border-box;
	color: #66d2b4;
	border: 1px solid #66d2b4;
	overflow: hidden;
}

.lb-area .lb2 {
	color: #ffb6a7;
	border-color: #ffb6a7
}
.lb-area .lb3 {
	color: #8ed1ee;
	border-color: #8ed1ee
}


