@chart(utf-8)
[class^="icon-"], [class*=" icon-"] {
	color: inherit;
	display: inline-block;
	font-size: 18px;
}

body{
	font-size: 16px;
	line-height: 25px;
}
h1,.H1{
	font-size: 68px;
	line-height:64px;
}

h2,.H2 {
	font-size: 44.8px;
	line-height: 48px;
}
h3,.H3{
	font-size: 18px;
	/* line-height:70.4px; */
}
h4,.H4 {
	font-size:16px;
	/*line-height:49.6px;*/
}

h1,h2,h3,h4{
	font-weight: 400;
	color: #333;
}
img{width:100%}
/*font-size*/
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px; }
.fs20{font-size: 24px; }
.fs24{font-size: 24px; }
.fs28{font-size: 28px;}
.fs32{font-size: 32px;}

/*5*/
.m5{margin:5px;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.mlr5{margin-left:5px;margin-right:5px;}
.mtb5{margin-bottom:5px;margin-top:5px;}
/*8*/
.m8{margin:8px;}
.mt8{margin-top:8px;}
.mb8{margin-bottom:8px;}
.ml8{margin-left:8px;}
.mr8{margin-right:8px;}
.mlr8{margin-left:8px;margin-right:8px;}
.mtb8{margin-bottom:8px;margin-top:8px;}
/*10*/
.m10{margin:10px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mlr10{margin-right:10px;margin-left:10px;}
.mtb10{margin-bottom:10px;margin-top:10px;}
/*20*/
.m20{margin:20px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.mr20{margin-right:20px;}
.mt20{margin-top:20px;}
.mlr20{margin-right:20px;margin-left:20px}
.mtb20{margin-bottom: 20px;margin-top:20px;}
/*30*/
.m30{margin:30px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.ml30{margin-left:30px;}
.mr30{margin-right:30px;}
.mlr30{margin-right:30px;margin-left:30px}
.mtb30{margin-bottom:30px;margin-top:30px;}
/*40*/
.m40{margin:40px;}
.mt40{margin-top:40px;}
.mb40{margin-bottom:40px;}
.ml40{margin-left:40px;}
.mr40{margin-right:40px;}
.mlr40{margin-right:40px;margin-left:40px;}
.mtb40{margin-bottom:40px;margin-top:40px;}
/*50*/
.m50{margin:50px}
.mt50{margin-top:50px}
.mb50{margin-bottom:50px}
.ml50{margin-left:50px}
.mr50{margin-right:50px}
.mlr50{margin-right:50px;margin-left:50px;}
.mtb50{margin-bottom:50px;margin-top:50px;}

/*p5*/
.p5{padding:5px;}
.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pr5{padding-right:5px;}
.plr5{padding-left:5px;padding-right:5px;}
.ptb5{padding-bottom:5px;padding-top:5px;}
/*p8*/
.p8{padding:8px;}
.pt8{padding-top:8px;}
.pb8{padding-bottom:8px;}
.pl8{padding-left:8px;}
.pr8{padding-right:8px;}
.plr8{padding-left:8px;padding-right:8px;}
.ptb8{padding-bottom:8px;padding-top:8px;}
/*p10*/
.p10{padding:10px;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.plr10{padding-right:10px;padding-left:10px;}
.ptb10{padding-bottom:10px;padding-top:10px;}
/*p20*/
.p20{padding:20px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pt20{padding-top:20px;}
.plr20{padding-right:20px;padding-left:20px}
.ptb20{padding-bottom: 20px;padding-top:20px;}
/*p30*/
.p30{padding:30px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.pl30{padding-left:30px;}
.pr30{padding-right:30px;}
.plr30{padding-right:30px;padding-left:30px}
.ptb30{padding-bottom:30px;padding-top:30px;}
/*p40*/
.p40{padding:40px;}
.pt40{padding-top:40px;}
.pb40{padding-bottom:40px;}
.pl40{padding-left:40px;}
.pr40{padding-right:40px;}
.plr40{padding-right:40px;padding-left:40px;}
.ptb40{padding-bottom:40px;padding-top:40px;}
/*p50*/
.p50{padding:50px}
.pt50{padding-top:50px}
.pb50{padding-bottom:50px}
.pl50{padding-left:50px}
.pr50{padding-right:50px}
.plr50{padding-right:50px;padding-left:50px;}
.ptb50{padding-bottom:50px;padding-top:50px;}

/*line-height*/
.lh10{line-height: 10px;}
.lh20{line-height: 20px;}
.lh30{line-height: 30px;}
.lh35{line-height: 35px;}
.lh40{line-height: 40px;}
.lh45{line-height: 45px;}
.lh50{line-height: 50px }
.lh60{line-height: 60px;}
/*height*/
.h10{height: 10px;}
.h20{height: 20px;}
.h30{height: 30px;}
.h35{height: 35px;}
.h40{height: 40px;}
.h45{height: 45px;}
.h50{height: 50px }
.h60{height: 60px;}

/*width*/
.w10{width: 10px;}
.w20{width: 20px;}
.w30{width: 30px;}
.w35{width: 35px;}
.w40{width: 40px;}
.w45{width: 45px;}
.w50{width: 50px }
.w60{width: 60px;}

.wrap{
	max-width: 640px;
	min-width: 300px;
	width: 100%;
	z-index: 99;
	margin-right:auto;
	margin-left:auto;
}

.btn{
	padding: 5px 10px;
	min-width: 100px;
	display: inline-block;
	border-radius: 4px;
	border: 1px solid;
	text-align: center;
}
.btn-no-radius{
	padding:2px 10px;
	display: inline-block;
}