@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u8a53d');
  src:  url('fonts/icomoon.eot?u8a53d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u8a53d') format('truetype'),
    url('fonts/icomoon.woff?u8a53d') format('woff'),
    url('fonts/icomoon.svg?u8a53d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-picture:before {
  content: "\e00f";
}
.icon-check:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-up:before {
  content: "\e906";
}
.icon-chevrons-down:before {
  content: "\e907";
}
.icon-chevrons-left:before {
  content: "\e908";
}
.icon-chevrons-right:before {
  content: "\e909";
}
.icon-chevrons-up:before {
  content: "\e90a";
}
.icon-map-pin:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-thumbs-down:before {
  content: "\e90d";
}
.icon-thumbs-up:before {
  content: "\e90e";
}
.icon-trash-2:before {
  content: "\e90f";
}
.icon-home2:before {
  content: "\e910";
}
.icon-x:before {
  content: "\e911";
}
.icon-heart:before {
  content: "\e912";
}
.icon-sort:before {
  content: "\e913";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-search:before {
  content: "\e986";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-happy22:before {
  content: "\e9e0";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy2:before {
  content: "\e9e1";
}
.icon-smile:before {
  content: "\e9e2";
}
.icon-smile2:before {
  content: "\e9e3";
}
.icon-tongue:before {
  content: "\e9e4";
}
.icon-tongue2:before {
  content: "\e9e5";
}
.icon-sad:before {
  content: "\e9e6";
}
.icon-sad2:before {
  content: "\e9e7";
}
.icon-wink:before {
  content: "\e9e8";
}
.icon-wink2:before {
  content: "\e9e9";
}
.icon-grin:before {
  content: "\e9ea";
}
.icon-grin2:before {
  content: "\e9eb";
}
.icon-cool:before {
  content: "\e9ec";
}
.icon-cool2:before {
  content: "\e9ed";
}
.icon-angry:before {
  content: "\e9ee";
}
.icon-angry2:before {
  content: "\e9ef";
}
.icon-evil:before {
  content: "\e9f0";
}
.icon-evil2:before {
  content: "\e9f1";
}
.icon-shocked:before {
  content: "\e9f2";
}
.icon-shocked2:before {
  content: "\e9f3";
}
.icon-baffled:before {
  content: "\e9f4";
}
.icon-baffled2:before {
  content: "\e9f5";
}
.icon-confused:before {
  content: "\e9f6";
}
.icon-confused2:before {
  content: "\e9f7";
}
.icon-neutral:before {
  content: "\e9f8";
}
.icon-neutral2:before {
  content: "\e9f9";
}
.icon-hipster:before {
  content: "\e9fa";
}
.icon-hipster2:before {
  content: "\e9fb";
}
.icon-wondering:before {
  content: "\e9fc";
}
.icon-wondering2:before {
  content: "\e9fd";
}
.icon-sleepy:before {
  content: "\e9fe";
}
.icon-sleepy2:before {
  content: "\e9ff";
}
.icon-frustrated:before {
  content: "\ea00";
}
.icon-frustrated2:before {
  content: "\ea01";
}
.icon-crying:before {
  content: "\ea02";
}
.icon-crying2:before {
  content: "\ea03";
}
