@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3ioskw');
  src:  url('fonts/icomoon.eot?3ioskw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3ioskw') format('truetype'),
    url('fonts/icomoon.woff?3ioskw') format('woff'),
    url('fonts/icomoon.svg?3ioskw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-picture:before {
  content: "\e00f";
}
.icon-check:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-chevrons-down:before {
  content: "\e905";
}
.icon-chevrons-left:before {
  content: "\e906";
}
.icon-chevrons-right:before {
  content: "\e907";
}
.icon-chevrons-up:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e910";
}
.icon-map-pin:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-thumbs-down:before {
  content: "\e90b";
}
.icon-thumbs-up:before {
  content: "\e90c";
}
.icon-trash-2:before {
  content: "\e90d";
}
.icon-x:before {
  content: "\e90f";
}
.icon-home2:before {
  content: "\e90e";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-search:before {
  content: "\e986";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-happy2:before {
  content: "\e9e0";
}
