/*s:�鱨*/
.case-dynamic {
	position: relative;
	padding-left: 100px;
	height: 100px;
}

.dyn-right{
	height: 100%;
	overflow: hidden;
}
.dyn-left{
	position: absolute;
	left: 8px;
	top: 14px;
}
.dyn-left a{
	display: block;
	margin-top: 20px;
}

.lb .dynamic .dyn-left {
	float: left;
	width: 23.36px;
	height: .144px;
	border-right: 1px solid #DDD
}

.lb .dynamic .dyn-left .dyn-left-content a {
	display: block;
	width: 19.2px;
	height: .144px
}

.lb .dynamic .dyn-left img {
	display: block;
	width: 100%;
	height: 100%
}

.lb .dynamic .dyn-center {
	float: right
}

.lb .dynamic .dyn-center ul {
	width: 120px;
	height: .144px
}

.lb .dynamic .dyn-center .scroll_logo {
	overflow: hidden
}

.lb .dynamic .dyn-center .scroll_logo .sl_lf {
	font-weight: 700;
	height: .80px;
	line-height: .80px;
	font-size: .5536px;
	max-width: 92.8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.lb .dynamic .dyn-center .scroll_logo .sl_time {
	float: right;
	font-size: .5968px;
	color: #48b3e2
}

.lb .dynamic .dyn-center .scroll_news {
	width: 120px;
	height: .720px;
	line-height: .720px;
	font-size: .512px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
/*e:�鱨*/