
.header-wrap{position:relative;min-height: 50px;background: url(/public/images/friend.jpg); background-size:100% 100%;padding-top: 28%;}
header{text-align: center;position: fixed;top: 0;width: 100%;max-width: 640px;min-width: 300px;/* background:#fff; */padding-top: 10px;color: #fff;padding-bottom: 10px;-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);/* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .3); *//* box-shadow: 0px 1px 2px rgba(0, 0, 0, .3); */}
header .back{position: absolute;left: 10px;top:50%;height: 26px;font-size: 18px;margin-top: -13px;}
header .header-right{position:absolute;right: 20px;top:50%;/* height: 18px; */margin-top: -13px;}
.mobileCode{
	position:relative;
}
.mobileCode .btn{
	position:absolute;
	right: 12px;
	top: 11px;
}
.note-dialog textarea{line-height: 1.2;height: 55px;border-radius: 4px;margin-top: 10px;margin-bottom: 10px;}
.btn-empty{background: none;color: #666;border: 1px solid #c1c1c1;}