/*s:经典页面列表*/
.case-list{
	margin: 20px 0;
	padding: 5px 0 30px 140px;
	border-bottom: 1px solid #e1e1e1;
	position:relative;
}
.case-list .info>div{
	font-size: .85rem;
	color:#999;
}
.case-list .price-wrap{
	position: relative;
}
.case-list .info .price{
	position:absolute;
	right:0px;
	top:0;
	color: #ff6d6f;
	font-weight: 700;
}
.case-list .img{
	position:absolute;
	left:0;
	top: 4px;
	overflow: hidden;
	width: 120px;
	height: 120px;
}
.case-list .img img{
	height: 100%;
	width:100%;
}
/*e:经典页面列表*/