.photoBox {
	display: block;
	z-index: 1067;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	color: #989898;
	-webkit-box-pack: center;
	-webkit-box-align: center
}

.photoBox .photo-t .top-l a,.photoBox .photo-t .top-r a {
	color: #888
}

.photoBox .photo-c {
	position: absolute;
	left: 5%;
	align-items: center;
	width: 90%;
	top: 30px;
	bottom: 30px;
	background-color: #2C2C2C;
}

.photoBox .swiper-container .swiper-wrapper .item {
	width: 100%;
	height: 100%;
	margin: auto
}

.photo-b,.photoBox .photo-t {
	height: 40px;
	line-height: 40px;
}

.photoBox .swiper-container .swiper-wrapper .item img {
	display: block;
	max-width: 160px;
	max-height: 100%;
	margin: auto
}

.photoBox .photo-t .swiper-pagination-fraction {
	width: 100%;
	font-size: .64px;
	text-align: center;
	color: #888
}

.photoBox .photo-t {
	width: 100%;
	position: absolute;
	z-index: 99;
	background: #373737
}

.photoBox .photo-t .top-l {
	position: absolute;
	left: 20px;
}

.photoBox .photo-t .top-l img {
	display: block;
	width: 100%
}

.photoBox .photo-t .t-center {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.photoBox .photo-t .top-r {
	position: absolute;
	right: 20px;
	top: 0;
}

.photo-b {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #373737;
	overflow: hidden;
	z-index: 1
}

.photo-b .swiper-slide {
	text-align: center
}

.photoBox .photo-b .swiper-wrapper .on a {
	color: #fff!important
}

.photoBox .photo-b .swiper-wrapper .item a {
	color: #888
}

.photoBox .photo-b .swiper-wrapper .item a:link {
	text-decoration: none
}

.photo-c,.photoBox,.swiper-container-c {
	width: 100%;
	height: 100%
}
.photo-c .swiper-slide img {
	width: 100%;
	height: 100%;
	z-index: 1900;
}